node_modules
dist
.DS_Store
*.local

# Local-only media and transcripts. Nothing copyrighted gets committed.
/local/
*.vtt
*.srt
*.mp4
*.m4a

# Python virtual enviornment
.venv/

# Local-only test data
*.local.json